$primary: #9f3f3f;
$secondary: #875300;

$body-secondary-color: #9f3f3f;
$body-secondary-bg: #ffdad8;
$body-secondary-color-dark: #ffb3b0;
$body-secondary-bg-dark: #611015;
$body-tertiary-color: #875300;
$body-tertiary-bg: #ffddba;
$body-tertiary-color-dark: #ffb964;
$body-tertiary-bg-dark: #482a00;

$success: #4e6700;
$info: #5854a8;
$warning: #8e4e00;
$danger: #9c4141;

$light: #fffbff;
$dark: #201a1a;
$body-color: $dark;
$body-bg: $light;