@import "bootstrap/scss/mixins/color-mode";


body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}


a {
    text-decoration: none !important;
}


$color-mode-type: data;

.declaration-exchange {
    background-color: #e5e4f6 !important;
}

.declaration-purchase {
    background-color: #ddf5e7 !important;
}

.declaration-sale {
    background-color: #f8e3e3 !important;
}

@include color-mode(dark) {
    .declaration-exchange {
        background-color: #20394b !important;
    }

    .declaration-purchase {
        background-color: #354917 !important;
    }

    .declaration-sale {
        background-color: #602a2a !important;
    }
}