body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


a {
    text-decoration: none !important;
}


.declaration-exchange {
    background-color: #e5e4f6 !important;
}

.declaration-purchase {
    background-color: #ddf5e7 !important;
}

.declaration-sale {
    background-color: #f8e3e3 !important;
}