.logo {
    color: var(--bs-secondary-text-emphasis);
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logoBanner {
    height: 36vmin;
    width: 36vmin;
    max-height: 144px;
    max-width: 144px;
}